.logo{
    width: 60px;
}
.bg-custom-1{
    background-color: #eeeeee;
}
.text-orange{
  color:#fbc224;
  font-weight: bold;
}
.btn-custom{
    background-color: #fbc224;
}
.text-color-custom{
    color: #19774f;
    font-weight: bold;
}
.background-nav{
   background-color:  #eeeeee;
}
// colore verde:
// #19774f

.custom-background{
    background-color: #fbc224 ;
}
.img-footer{
    width: 150px;
}
.background-footer{
   background-color: #eeeeee;
}


// MUSTHEAD
header {
    position: relative;
    background-color: black;
    height: 700px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }